@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

*{
    font-weight: 400;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
    margin: 2vh 1vh;
}

.generate, .btn{
   height: 40vh;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid black;
}

.btn{
  border: none;
}


body .btn{
  height: 40vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

}


button{
  border: 2px solid black;
  font-weight: 700;
  width: 100%;
  padding: 1.5rem;
  font-size: 2.2rem;
  text-align: center;
  background-color: #5F9EA0;
  color: #F0FFFF;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
body h1{
  background-color: whitesmoke;
  font-size: 2.1rem ;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.generate p{
  display: flex;
  width: 80%;
  align-items: center;
  border: 2px solid black;
  height: 7vh;
  border-radius: 5px;
  background-color: #999999;
  color: #262626;
  justify-content: center;
}
