@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

*{
    font-weight: 400;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
}

.generate, .btn{
   height: 40vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   border: 2px solid black;
}
body .btn{
  height: 40vh;
  margin: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: none;
}


button{
  border: 2px solid black;
  font-weight: 700;
  width: 100%;
  padding: 1.5rem;
  font-size: 2.2rem;
  text-align: center;
  background-color: indianred;
  color: black;
}
body h1{
  background-color: whitesmoke;
  font-size: 2.1rem !important;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
